.lead {
  max-width: 1280px;
  margin: 35px auto 0;
}

@media screen and (max-width: 1440px) {
  .lead {
    margin: 35px auto 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 30px auto 0;
  }
}
