.community__title {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0.6px;
  max-width: 813px;
  width: 100%;
  text-align: center;
  margin: 5px auto 0;
  color: #1B1C1D;
}

@media screen and (max-width: 900px) {
  .community__title {
    max-width: 650px;
  }
}

@media screen and (max-width: 768px) {
  .community__title {
    max-width: 400px;
    font-size: 33px;
    line-height: 40px;
  }
}

@media screen and (max-width: 425px) {
  .community__title {
    max-width: 300px;
    font-size: 30px;
    line-height: 37px;
  }
}
