.community__paragraph {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  max-width: 621px;
  width: 100%;
  color: #1B1C1D;
}

@media screen and (max-width: 768px) {
  .community__paragraph {
    font-size: 28px;
    line-height: 38px;
    max-width: 420px;
  }
}

@media screen and (max-width: 425px) {
  .community__paragraph {
    max-width: 300px;
    font-size: 26px;
    line-height: 36px;
  }
}
