.intro__title {
  font-family: 'Roboto';
  font-size: 96px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 1px;
  max-width: 370px;
  width: 100%;
  text-align: center;
  align-self: center;
  color: #1B1C1D;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 80px;
    line-height: 80px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 50px;
    line-height: 55px;
    max-width: 300px;
  }
}
